head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='closeheat - Edit Landing Page Code In-browser')
  meta(property='og:image' content='http://closeheat.com/img/ogimage.png')
  meta(property='og:title' content='Edit Landing Page Code In-browser')
  meta(property='og:description' content='Quickly build high-converting custom landing pages')
  title closeheat - Ship Websites Faster
  link(href='/css/app.css', rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
  script(src='/js/app.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js")
  script(src='/js/smoothscroll.min.js')
  meta(name="google-site-verification" content="CeTknMlUfxMoa1-6oTNVihlqcCXhYTI7qfocIiWtxDI")

  include favicons
  script.
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
    analytics.load('X8Da6RRazy6GokMZpxLQsVvCfcsOfCmQ');
    analytics.page()
    }}();
