doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='closeheat - Automated toolkit for monkey tasks and a powerful hosting platform')
    link(rel='shortcut icon', href='ico/favicon.png')
    meta(property='og:image' content='/img/ogimage.png')
    meta(property='og:title' content='Supercharge Your Web App Workflow')
    meta(property='og:description' content='Automated toolkit for monkey tasks and a powerful hosting platform')
    title closeheat - Automated toolkit for monkey tasks and a powerful hosting platform
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
    script(src='js/app.js')
    script(src='js/smoothscroll.min.js')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load('X8Da6RRazy6GokMZpxLQsVvCfcsOfCmQ');
      analytics.page()
      }}();
  body
    .navbar.navbar-default
      .container
          .navbar-header
            a.navbar-brand.brand(href='/')
              img(src='/img/logo.png')
            button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(data-scroll href='#pricing') Pricing
              li
                a(href='http://app.closeheat.com/users/sign_in') Log In
              li
                p.navbar-text or
              li
                p.navbar-btn
                  a.btn.btn-primary(href='http://app.closeheat.com/users/sign_up') Sign Up Free
    section#home(name='home')
    #headerwrap
      .container
        .row.centered
          .col-lg-12
            h1 Supercharge Your Web App Workflow
            h3 Automated toolkit for monkey tasks and a powerful hosting platform
        .row.centered
          .cta
            a(href='http://app.closeheat.com/users/sign_up') Build an app free
          .col-lg-offset-2.col-lg-8
            img.img-responsive(src='/img/app-bg.png', alt='')
            p.clarity
              | A toolkit
              |  which <b>automates your SCSS, Jade and CoffeeScript</b>
              |  compilations, <b>downloads dependencies</b> and
              |  and provides <b>continuous one-liner deployments</b> to a powerful
              |  platform for Static Web Apps.
    section#desc(name='desc')

    // INTRO WRAP
    #intro
      .container
        .row.centered
          h1 Develop With Ease
          br
          br
          .col-lg-4
            img.feature(src='/img/1.svg', alt='')
            h3 Automated Dependencies
            p
              | Just write <code>require('angular')</code> in your code and
              |  <b>we will download it for you</b>.
              |  Updating that package.json is not cool anymore.
          .col-lg-4
            img.feature(src='/img/2.svg', alt='')
            h3 Compiles Everything
            p
              | Automatic preprocessing for <b>Jade, SCSS, CoffeeScript and Markdown</b>
              |  without any setup.
          .col-lg-4
            img.feature(src='/img/3.svg', alt='')
            h3 Server with Auto-Refresh
            p
              | We <b>automatically refresh</b> your browser <b>every time you
              |  make an edit</b>. It's such a time saver!
        br
        hr
    #features
      .container
        .row
          h1.centered Freedom for Any Framework And
          h3.centered For Any Type of Page
          br
          br
          .col-lg-12.text-center
            img.centered(src='img/freedom.png', alt='')
          .col-lg-offset-3.col-lg-6
            .row.clarity
              p.lead.text-center
                | Use any Javascript framework without thinking about setup or
                |  searching for a boilerplate. <b>Angular, React, Bootstrap</b>, you
                |  name it.
    #platform
      .container
        .row
          h1.centered Powerful Continuous Deployment Platform
          h2.centered We've got teams on our mind
          br
          .col-lg-7
            #carousel-example-generic.carousel.slide
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                li(data-target='#carousel-example-generic', data-slide-to='1')
              // Wrapper for slides
              .carousel-inner
                .item.active
                  img(src='/img/app-screen.png', alt='')
                .item
                  img(src='/img/create-screen.png', alt='')
          .col-lg-5
            p.lead.deploy-clarity
              | <b>Deployment</b> is as easy as <b>pushing your code to GitHub</b>.
              |  Even though it lives on GitHub, your <b>designer can deploy</b>
              |  his changes <b>with a single command</b>. There's <b>no need to
              |  learn Git</b>.
    .container
      .row.centered
        h1 A Platform for Heroes
        br
        br
        .col-lg-4
          img.feature(src='/img/4.svg', alt='')
          h3 One-command Deployment
          p
            | <b>Stop forcing your designer to learn git</b> and all of its tricks
            |  just to deploy your app. A <b>single command</b> will make <b>your changes
            |  live in under 10 seconds</b>.
        .col-lg-4
          img.feature(src='/img/5.svg', alt='')
          h3 Versioning via GitHub and Instant Rollbacks
          p
            | All of your code lives on <b>GitHub</b>. We'll <b>deploy it everytime
            |  you push a change</b> there. You can <b>preview</b> any of your <b>old
            |  app versions</b> at any time also.
        .col-lg-4
          img.feature(src='/img/6.svg', alt='')
          h3 99.99% Uptime
          p
            | We've got your <b>back(ups)</b>. Your apps are always
            |  up and running at a <b>blazing speed</b>.
      br
    #pricing
      .container
        .row.centered
          h1 Simple Plans
          .plans
            .plan
              h2.plan-title Team
              p.plan-price
                | $49
                span /mo
              ul.plan-features
                li
                  strong Unlimited
                  |  apps
                li
                  strong Private
                  |  repositories
              // a.btn.btn-primary.outline(href='index.html') Get Started - $49
            .plan.plan-tall
              h2.plan-title Starter
              p.plan-price
                | $19
                span /mo
              ul.plan-features
                li
                  strong 5
                  |  apps
                li
                  strong Private
                  |  repositories
              // a.btn.btn-primary.outline(href='index.html') Get Started - $19
            .plan
              h2.plan-title Free
              p.plan-price
                | $0
                span /mo
              ul.plan-features
                li
                  strong 1
                  |  app
                li
                  strong Public
                  |  repositories
              // a.btn.btn-primary.outline(href='index.html') Get Started - $0
      .cta
        a(href='http://app.closeheat.com/users/sign_up') Build an app free

      .row.centered#export
        p
          strong Export anytime!
          |  If you decide to go, you can export your app with
          | a single command: <code>closeheat export</code>

    section#contact(name='contact')
    #footerwrap
      .container
        .col-lg-5
          h3 Address
          p
            | Saltiniu g. 1 - 28,
            br
            | Vilnius,
            br
            | 03218
            br
            | Lithuania
        .col-lg-7
          h3 Drop Us A Line
          br
          form#drop-a-line(role='form')
            .form-group
              input#your-email.form-control(type='email', placeholder='Your email address')
            .form-group
              textarea#your-message.form-control(placeholder='Your message', rows='3')
            br
            button#send-message.btn.btn-large.btn-success SEND IT

          #thanks-note.hidden
            p: b Thank you for everything!
            p
              | We'll contact you as soon as we find this.
              br
              i (usually in a few hours)

          #error-note.hidden
            p: b There were errors sending your message.
            p
              | Feel free to email our CEO directly on
              |  <a href='mailto:domas.bitvinskas@me.com'>domas.bitvinskas@me.com</a>.
              br
              | He'll get back to you a soon as he finds it.
              br
              i (usually in a few hours)
