doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='closeheat - Automated toolkit for monkey tasks and a powerful hosting platform')
    meta(property='og:image' content='http://closeheat.com/img/ogimage.png')
    meta(property='og:title' content='Supercharge Your Web App Workflow')
    meta(property='og:description' content='Automated toolkit for monkey tasks and a powerful hosting platform')
    title closeheat - Automated toolkit for monkey tasks and a powerful hosting platform
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
    script(src='js/app.js')
    script(src='js/smoothscroll.min.js')
    include favicons
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load('X8Da6RRazy6GokMZpxLQsVvCfcsOfCmQ');
      analytics.page()
      }}();
  body
    .navbar.navbar-default
      .container
          .navbar-header
            a.navbar-brand.brand(href='/')
              img(src='/img/logo.png')
            button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='http://app.closeheat.com/users/sign_in') Log In
              li
                p.navbar-text or
              li
                p.navbar-btn
                  a.btn.btn-primary(href='http://app.closeheat.com/users/sign_up') Sign Up Free
    section#home(name='home')
    #headerwrap
      .container
        .row.centered
          .col-lg-12
            h1 Ship Websites Faster
            h3 Don't just talk about it
        .row.centered
          .cta.col-md-4.col-md-offset-4
            a(href='http://app.closeheat.com/users/sign_up') Build a website now
          .col-lg-offset-2.col-lg-8
            a(href='http://app.closeheat.com/users/sign_in')
              img.img-responsive(src='/img/hero.png', alt='')
            p.clarity
              | <b>closeheat</b> is a <b>hosting platform</b> and an
              |  <b>intergrated toolkit</b>
              |  for developing <b>landing pages</b>, <b>front-end apps</b>
              |  and <b>blogs</b> with modern languages like <b>SCSS</b>,
              |  <b>Jade</b> and <b>CoffeeScript</b>.

    #features
      .container
        .row
          h1.centered Landing Pages, Front-end Apps and Blogs Made Easier
          h3.centered Quick start with a website from a template
          br
          br
          .col-sm-12.col-lg-12.text-center
            img.img-responsive.centered(src='img/freedom.png', alt='')
          .col-lg-offset-3.col-lg-6
            .row.clarity
              p.lead.text-center
                | It is easier to change than to create anything from scratch.
                |  Customize the template with <b>Bootstrap</b>,
                |  <b>Angular.js</b>, <b>React.js</b> and continue from there.
    #intro
      .container
        .row.centered
          h1 Develop with Ease
          br
          br
          .col-lg-4
            img.feature(src='/img/2.svg', alt='')
            h3 Gulp was Cool but we're Cooler
            p
              | Start writing <b>Jade, SCSS, CoffeeScript and Markdown</b>
              |  - it will just work.
              | Write <code>require('angular')</code> in your code and
              |  <b>we will download it for you</b>.
          .col-lg-4
            img.feature(src='/img/4.svg', alt='')
            h3 One-command Deployment
            p
              | A <b>single command</b> will make <b>your changes
              |  instant</b>.
              | Don't force a designer to learn git just to deploy your app.
          .col-lg-4
            img.feature(src='/img/3.svg', alt='')
            h3 Server with Auto-Refresh
            p
              | <b>Automatic browser refresh</b> every time you
              |  make an edit. Code even faster.
        br
    #platform
      .container
        .row
          h1.centered Deploy in One-command
          h3.centered Have your code in GitHub and rollback instantly
          br
          .col-lg-12
            img.img-responsive(src='/img/app-bg.png', alt='')
          .col-lg-offset-2.col-lg-8
            p.lead.deploy-clarity
              | There's <b>no need to learn Git</b> to be able to rollback and
              |  deploy your website. We've got <b>command-line
              |  hating designers</b> in with us. It's simple enough for them
              |  and we're working working on an even simpler UI for you guys.
            p.text-center
              .cta
                a(href='http://app.closeheat.com/users/sign_up') Deploy website now
    .container.art
      .row.centered
        h1 We Believe Coding is an Art
        br
        br
        .col-lg-4
          img.feature(src='/img/1.svg', alt='')
          h3 Magical Dependencies
          p
            | Just write <code>require('angular')</code> in your code and
            |  <b>we will download it for you</b>.
            |  <kbd>package.json</kbd> will update automagically.
        .col-lg-4
          img.feature(src='/img/5.svg', alt='')
          h3 Versioning via GitHub and Instant Rollbacks
          p
            | All of your code lives on <b>GitHub</b>. We'll <b>deploy it everytime
            |  you push a change</b> there. You can <b>preview</b> any of your <b>old
            |  app versions</b> at any time also.
        .col-lg-4
          img.feature(src='/img/6.svg', alt='')
          h3 Don't be stuck with unmagical tech
          p
            | Transform your files to a new language with a single command.
            |  You can <b>start developing your old websites on new
            |  technologies</b>.
      br

      .cta.col-md-4.col-md-offset-4
        a(href='http://app.closeheat.com/users/sign_up') Build a website now

      .col-md-12
        .centered#export
          strong Export anytime!
          p
            |  If you decide to go, you can export your app with
            | a single command: <code>closeheat export</code>

    section#contact(name='contact')
    #footerwrap
      .container
        .col-lg-5
          h3 Address
          p
            | Saltiniu g. 1 - 28,
            br
            | Vilnius,
            br
            | 03218
            br
            | Lithuania
        .col-lg-7
          h3 Drop Us A Line
          br
          form#drop-a-line(role='form')
            .form-group
              input#your-email.form-control(type='email', placeholder='Your email address')
            .form-group
              textarea#your-message.form-control(placeholder='Your message', rows='3')
            br
            button#send-message.btn.btn-large.btn-success SEND IT

          #thanks-note.hidden
            p: b Thank you for everything!
            p
              | We'll contact you as soon as we find this.
              br
              i (usually in a few hours)

          #error-note.hidden
            p: b There were errors sending your message.
            p
              | Feel free to email our CEO directly on
              |  <a href='mailto:domas.bitvinskas@me.com'>domas.bitvinskas@me.com</a>.
              br
              | He'll get back to you a soon as he finds it.
              br
              i (usually in a few hours)
