doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='closeheat - Automated toolkit for monkey tasks and a powerful hosting platform')
    meta(property='og:image' content='http://closeheat.com/img/ogimage.png')
    meta(property='og:title' content='Supercharge Your Web App Workflow')
    meta(property='og:description' content='Automated toolkit for monkey tasks and a powerful hosting platform')
    title closeheat - Ship Websites Faster
    link(href='css/app.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
    script(src='js/app.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js")
    script(src='js/smoothscroll.min.js')
    meta(name="google-site-verification" content="CeTknMlUfxMoa1-6oTNVihlqcCXhYTI7qfocIiWtxDI")

    include favicons
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load('X8Da6RRazy6GokMZpxLQsVvCfcsOfCmQ');
      analytics.page()
      }}();
  body
    nav
      .container
        a.logo(href='/')
          img(src='/img/logo.png')
        ul.right
          li
            a(href='#pricing') Pricing
          li
            a(href='http://app.closeheat.com/users/sign_in') Log In
          li
            a.btn.sign-up(href='http://app.closeheat.com/users/sign_up') Sign Up Free

    .hero
      .container
        .row.center-align
          .col.m12
            h1 Edit Landing Page Code In-browser
            h3 Ship Websites Faster
        .row.center-align
          .col.m6.offset-m3
            a.btn.btn-large.waves-effect.waves-light(href='http://app.closeheat.com/users/sign_in') Create Landing Page Now
        .row.screenshot
          .col.m10.offset-m1
            a(href='http://app.closeheat.com/users/sign_in')
              img.responsive-img(src='/img/hero1.jpg', alt='')
      .row.users.center-align
        div.integrates-with Easy integration with
        img.responsive-img(src='/img/integrations/segment.png', alt='')
        img.responsive-img(src='/img/integrations/github.png', alt='')
        img.responsive-img(src='/img/integrations/optimizely.jpg', alt='')
        img.responsive-img(src='/img/integrations/ga.png', alt='')
        img.responsive-img(src='/img/integrations/vwo.jpeg', alt='')
        // .row
        //   p.clarity
        //     | <b>closeheat</b> is a <b>hosting platform</b> with an <b>in-browser editor</b>
        //     |  to develop <b>landing pages</b>. Use <b>your</b> setup, have your code <b>versioned in Github</b>.

    .features.center-align
      .container
        .row
          h1 High Converting Designs Without Setup
          h3 Beautiful designs to make sure you have maximum chances
          br
          br
          .col.m4.center-align
            img.responsive-img.very-rounded(src='img/designs.png', alt='')
          .col.offset-m3.m6
            .row.clarity
              p.lead.center-align
                | 100% Customizable landing page templates out of the box. All of which works great
                |  with lead pages.
    #intro
      .container
        .row.centered
          h1 Iterate with Ease
          br
          br
          .col.m4
            img.feature(src='/img/3.svg', alt='')
            h3 Edit Landing Pages in Browser
            p
              | <b>Don't follow developer workflow when doing marketing.</b>
              | Do small changes in the browser - publish them in 10 seconds.
          .col.m4
            img.feature(src='/img/2.svg', alt='')
            h3 Edit Landing Pages Locally
            p
              | <b>Use your own setup when you like</b>. You can use our <b>command line tools</b>
              |  and <b>publish changes with one-command instead of one-click</b>.
          .col.m4
            img.feature(src='/img/4.svg', alt='')
            h3 One-click Publish
            p
              | A <b>single click</b> will make <b>your changes
              |  instant</b>.
        br
    // #platform
    //   .container
    //     .row
    //       h1.centered Deploy in One-command
    //       h3.centered Have your code in GitHub and rollback instantly
    //       br
    //       .col-lg-12
    //         img.img-responsive(src='/img/app-bg.png', alt='')
    //       .col-lg-offset-2.col-lg-8
    //         p.lead.deploy-clarity
    //           | There's <b>no need to learn Git</b> to be able to rollback and
    //           |  deploy your website. We've got <b>command-line
    //           |  hating designers</b> in with us. It's simple enough for them
    //           |  and we're working working on an even simpler UI for you guys.
    //         p.text-center
    //           .cta
    //             a(href='http://app.closeheat.com/users/sign_up') Deploy website now
    #pricing.pricetable
      .container
        h1.center-align Affordable prices
        h3.center-align Hours of your time saved
        .row.table
          .col.m4
              .price
                .name Basic
                .total
                  span $
                  em(data-plan-price='basic') 19
                  small /mo
                .subtotal Free 14 days trial period
              .property 1 landing page
              .options
                ul.list-group
                  li.list-group-item.header For startupers who want to quickly validate their product.
                  li.list-group-item Your own Landing Page
                  li.list-group-item In-browser Code Editor
                  li.list-group-item Custom Domain
                  li.list-group-item Toolkit for Local Editing
                  li.list-group-item Code Versioning via Github
                  li.list-group-item Support &amp; Unlimited Hosting
                  li.list-group-item Unlimited Rollbacks
                  li.list-group-item
                    a.btn(href='http://app.closeheat.com/users/sign_in') Create Landing Page Now!
            .col.m4
              .price
                .recommended Recommended
                .name Professional
                .total
                  span $
                  em(data-plan-price='pro') 49
                  small /mo
                .subtotal Free 14 days trial period
              .property 3 Landing pages
              .options
                ul.list-group
                  li.list-group-item.header For startupers who want to quickly validate their product.
                  li.list-group-item Your own Landing Page
                  li.list-group-item In-browser Code Editor
                  li.list-group-item Custom Domain
                  li.list-group-item Toolkit for Local Editing
                  li.list-group-item Code Versioning via Github
                  li.list-group-item Support &amp; Unlimited Hosting
                  li.list-group-item Unlimited Rollbacks
                  li.list-group-item SSL
                  li.list-group-item
                    a.btn(href='http://app.closeheat.com/users/sign_in') Create Landing Page Now!
            .col.m4
              .price
                .name Team
                .total
                  span $
                  em(data-plan-price='multi') 199
                  small /mo
                .subtotal Free 14 days trial period
              .property Unlimited Landing pages
              .options
                ul.list-group
                  li.list-group-item.header For teams & agencies who want to iterate quicker.
                  li.list-group-item Your own Landing Page
                  li.list-group-item In-browser Code Editor
                  li.list-group-item Custom Domain
                  li.list-group-item Toolkit for Local Editing
                  li.list-group-item Code Versioning via Github
                  li.list-group-item Support &amp; Unlimited Hosting
                  li.list-group-item Unlimited Rollbacks
                  li.list-group-item SSL
                  li.list-group-item App for Local Editing
                  li.list-group-item
                    a.btn(href='http://app.closeheat.com/users/sign_in') Create Landing Page Now!
    // .container.art
    //   .row.centered
    //     h1 We Believe Coding is an Art
    //     br
    //     br
    //     .col-lg-4
    //       img.feature(src='/img/1.svg', alt='')
    //       h3 Magical Dependencies
    //       p
    //         | Just write <code>require('angular')</code> in your code and
    //         |  <b>we will download it for you</b>.
    //         |  <kbd>package.json</kbd> will update automagically.
    //     .col-lg-4
    //       img.feature(src='/img/5.svg', alt='')
    //       h3 Versioning via GitHub and Instant Rollbacks
    //       p
    //         | All of your code lives on <b>GitHub</b>. We'll <b>deploy it everytime
    //         |  you push a change</b> there. You can <b>preview</b> any of your <b>old
    //         |  app versions</b> at any time also.
    //     .col-lg-4
    //       img.feature(src='/img/6.svg', alt='')
    //       h3 Don't be stuck with unmagical tech
    //       p
    //         | Transform your files to a new language with a single command.
    //         |  You can <b>start developing your old websites on new
    //         |  technologies</b>.
    //   br
    //
    //   .cta.col-md-4.col-md-offset-4
    //     a(href='http://app.closeheat.com/users/sign_up') Build a website now
    //
    //   .col-md-12
    //     .centered#export
    //       strong Export anytime!
    //       p
    //         |  If you decide to go, you can export your app with
    //         | a single command: <code>closeheat export</code>

    section#contact(name='contact')
    #footerwrap
      .container
        .row
          .col.m5.l5.s12
            h3 We're in Stockholm
            p
              | <b>The startup city, ain't it?</b>
              br
              | Kungsgatan 11, Stockholm
              br
              | 03218
              br
              | Sweden
          .col.m7.l7.s12
            h3 Drop Us A Line
            br
            form#drop-a-line(role='form')
              .row
                .input-field.col.m12.s12
                  input#your-email(type='email')
                  label(for='your-email') Your email address

              .row
                .input-field.col.m12.s12
                  textarea#your-message.materialize-textarea(rows='3')
                  label(for='your-message') Your message

              br
              button#send-message.btn.btn-large.btn-success SEND IT

            #thanks-note.hide
              p: b Thank you for everything!
              p
                | We'll contact you as soon as we find this.
                br
                i (usually in a few hours)

            #error-note.hide
              p: b There were errors sending your message.
              p
                | Feel free to email us directly on
                |  <a href='mailto:support@closeheat.com'>support@closeheat.com</a>.
                br
                | We'll get back to you a soon as we find it.
                br
                i (usually in a few hours)
